/data/*
!/data/models
!/data/lexicons

# Ignorar resultados pesados excepto visualizaciones
/results/*
!/results/topic_modeling
/results/topic_modeling/*
!/results/topic_modeling/visualizations
/results/topic_modeling/visualizations/*
!/results/topic_modeling/visualizations/all_reviews
!/results/topic_modeling/visualizations/burguers
!/results/topic_modeling/visualizations/fast_food
!/results/topic_modeling/visualizations/mexican
!/results/topic_modeling/visualizations/pubs
!/results/topic_modeling/visualizations/steakhouses
/results/topic_modeling/visualizations/**/*.csv

/venv/
/notebooks/.ipynb_checkpoints/*
__pycache__/
data/models/burguers/bertopic/bertopic_model.pkl
data/models/fast_food/bertopic/bertopic_model.pkl
data/models/mexican/bertopic/bertopic_model.pkl
data/models/steakhouses/bertopic/bertopic_model.pkl
data/models/pubs/bertopic/bertopic_model.pkl
